<footer>
	<div id="footer-filler"></div>
	<div id="small-print">
		<h2 class="bare-heading">The Small Print</h2>
		<div id="footer-links">
			<a href='{{ "about" | absURL }}' class="footer-link" style="color: #FFB7B7;">Creator: Tiamo Pastoor</a>
			<span style="color: #9AFFFC;">Since: 2021</span>
			<a href="https://rodepanda.com" style="color:#F4BEFF;" class="footer-link">Portfolio</a>
			<a href='{{ "about#contact" | absURL }}' style="color:#F0F25F;" class="footer-link">Contact</a>
		</div>
		<div class="footer-tagline">
			"And God said to Steve: "Come forth and receive eternal life!" But Steve came fifth and won a toaster."
		</div>
	</div>
</footer>

<!-- Deferred loading of Fonts = huge speed boost -->
<script type="text/javascript">
  var font1 = document.createElement('link');
  font1.rel = 'stylesheet';
  font1.href = 'https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kreon:wght@300;500;700&display=swap';
  var godefer = document.getElementsByTagName('link')[0];
  godefer.parentNode.insertBefore(font1, godefer);
</script>