<footer>
	<div id="footer-filler"></div>
	<div id="small-print">
		<h2 class="bare-heading">The Small Print</h2>
		<div id="footer-links">
			<a href="/about/" class="footer-link" style="color: #FFB7B7;">Creator: Tiamo Pastoor</a>
			<span style="color: #9AFFFC;">Since: 2021</span>
			<a href="https://rodepanda.com" style="color:#F4BEFF;" class="footer-link">Portfolio</a>
			<a href="/about/#contact" style="color:#F0F25F;" class="footer-link">Contact</a>
		</div>
		<div class="footer-tagline">
			"And God said to Steve: "Come forth and receive eternal life!" But Steve came fifth and won a toaster."
		</div>
	</div>
</footer>

<!--- Load the tiny bit of JS that this website needs --->
{{ $build_options := dict "targetPath" "js/main.bundle.js" -}}
{{ $js := resources.Get "js/main.ts" | js.Build $build_options | resources.Minify }}
<script src="{{ $js.RelPermalink }}" async defer></script>